@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Poppins&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
:root{
    color: #CF7500;
}
/* HEADER */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    background-color: #1c2029;
    align-items: center;
    min-height: 10vh;
    padding-top: 0;
    padding-left: 10vw;
    padding-right: 10vw;
    z-index: 2;
}

header h1{
    display: flex;
    height: 100%;
    font-size: 4vw;
    border: none;
}



div.contenedor{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 2vh;
}

div.contenedor .category_item{
    font-size: 1.8vw;
    padding: 1vh 1vw;
    background-color: #CF7500;
    text-decoration: none;
    color: #1c2029;
    border-radius: 10px;
}

div.contenedor .category_item:hover{    
    scale: 1.1;
}

.contenedor .ct_item-active{
    background: #454545;
}

section.Buscador{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 3vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.Login{
    display: flex;
    margin-bottom: 2vh;
}

div.Buscador{
    display: flex;
    align-items: center;
}

.btn-login{
    color: #1c2029;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 5px;
    border: whitesmoke solid 0.5vb;
    box-shadow: 2vb;
    padding: 0.5vw;
}

.btn-register{
    color: #1c2029;
    background-color: #CF7500;
    border-radius: 10px;
    box-shadow: 2vb;
    padding: 0.5vw;
    border: #CF7500 solid 0.5vb;
}

input.Buscador{
    display: flex;
    width: 20vw;
    align-items: baseline;
    color: #1c2029;
    box-shadow: 2vb;
    border-radius: 10px;
    border: whitesmoke solid 1vb;
    background-color: whitesmoke;
    margin-left: 0.5vw;
    margin-right: 0.5vw;

}

header.nav{
	max-width: 900px;
	margin: 1px;
	background-color: #333;
	font-size: 20px;
	margin-top: 0vh;
    border-radius: 10px;
}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-between;
    z-index: 2;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color:#ccad84;
    border-radius: 10px;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;    
    border-radius: 10px;
	width: 150px;
	background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: #CF7500;
    border-radius: 10px;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

/* MAIN */
main{
    background-color:#DDDDDD;
    padding-left: 10vw;
    padding-right: 10vw;

    padding-top: 15vh;
    padding-bottom: 3vh;

}



section.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
section.hero h1{
    color: #1c2029;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 110% ;
}

section.hero img{
    border-radius: 10px;
}

.img-contenedor{
    width: 60%;
    overflow: hidden;

}

.img-contenedor ul{
   display: flex;
   padding: 0;
   width: 400%;
   animation: slide 15s infinite alternate ease-in-out;
}
.img-contenedor li{
    width: 100%;
    list-style: none;
 }

.img-contenedor img{
    width: 100%;
}

.hero-info{
    font-size: 3vw;
}

.color-verde{
    color: rgb(120, 192, 12);
}
@keyframes slide{
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.wrap{
    max-width: 100%;
    width: 100%;
    margin: 0%;
}
.wrap h1{
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 0px;
}
.store{
    display: flex;
}

section.product_list{
    display: flex;
    justify-content: space-between;
}

.product_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.product_list .product-item{
    width: 16vw;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    transition: all .4s;
}
.product_list .product-item img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.product_list .product-item a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px 0;
    background-color: #CF7500;
    color:#1c2029;
    text-align: center;
    text-decoration: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.comprar{
    border-radius: 10px;
    background-color: whitesmoke;
    color: #1c2029;
    border: black 1px solid;
    padding: 2px;
}
.comprar:hover{
    background-color: #1c2029;
    color: whitesmoke;
    transition: 0.1s;
    scale: 1.1;
}

/* FOOTER */
footer{
    background-color: #1c2029;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    min-height: 20%;

}

div.redes{
    font-size: 3.5vb;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 2vh;
}

section.footer{
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.InformacionUtil, .Suscribete, .Contacto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2vh;
    padding-bottom: 3vh;
    padding: 2vw;
}

.InformacionUtil a{
    color: whitesmoke;
}

.Contacto p{
    color: whitesmoke;
}

.Suscribete p, label{
    color: whitesmoke;
}



a{
    color: #CF7500;
    text-decoration: none;

}
input{
    background-color: whitesmoke;
    color: black;
    border-radius: 6px;
    justify-content: center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.submit input {
    background-color: #CF7500;
    border-color: #CF7500;
}

::placeholder{
    color: #1c2029;
}

.derechos{
    display: flex;
    font-size: 2.6vh;
    min-height: 3vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 15vw;
    padding-right: 15vw;
    justify-content: center;
}

.derechos p{
    color: whitesmoke;
    text-align: center;
}
/* Main página atención al cliente */

form.formulario{
    margin: 0 auto;
    width: 70vw;
}
section.consulta{
    background-color: aliceblue;
    height: 100%;
    width: 60vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border: 2px solid #1A1C20;
    padding-left: 3vw;
    padding-right: 3vw;
    border-radius: 10px;
}

section.consulta label{
    color: #1c2029;
}

#nombre, #email{
    box-sizing: border-box;
    width: 100%;
    max-width: 50vw;
}

.consulta h2{
    font-size:x-large;
    color: #1A1C20;
}
.formulario{
    padding-bottom: 3vh;
}
.submit{
    display: flex;
    height: 5vh;
    margin-top: 3vh;
}


textarea#mensaje{
    height: 40vh;
    width: 100%;
    padding: 1vw;
    background-color: aliceblue;
}


.preguntas{
    display: flex;
    flex-direction: column;
    border: 2px solid #1A1C20;
    padding: 3vw;
    border-radius: 10px;
    background-color: aliceblue;
}
.preguntas h2{
    font-size: x-large;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: #1A1C20;
}

.preguntas p{
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: #1A1C20;
}

.presentacion{
    display: flex;
    flex-direction: column;
    border: 2px solid #1A1C20;
    padding: 3vw;
    border-radius: 10px;
    background-color: aliceblue;
}

.presentacion h1{
    color:#1A1C20;
    text-align: center;
}

.presentacion h2{
    font-size: x-large;
    margin-top: 2vh;
    color: #1A1C20;
}

.presentacion p{
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: #1A1C20;
}


/* a{
    font-weight: 500;
    display: inline-block;
    color: #3d3c3c;
} */


form.form-main{
    margin: 0 auto;
}

section.form-main{
    margin: 0 auto;
}

.form-contenido{
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 10;
    border-radius: 10px;
}

.form-contenido .box{
    border-color: #1A1C20;
    border: 2px solid #1A1C20;
    border-radius: 10px;
    padding: 40px 50px;
    background-color: aliceblue;
}

.form-contenido h3{
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    color: #1A1C20;
    font-weight: 500;
}

.form-contenido .form{
    margin: 25px 20px; 
}

.form-contenido .input-box{
    margin: 20px;
}

.form-contenido .input-control{
    display: flex;
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #1A1C20;
    color: #1A1C20;
    font-size: 16px;
}

.form-contenido .input-control:focus{
    outline: none;
}

.form-contenido .input-link{
    margin-top: 10px;
    text-align: center;
    
}

.form-contenido .btn{
    height: 45px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
    background-color: #1c2029;
    border: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: whitesmoke;
}

.form-contenido p{
    text-align: center;
    margin: 10px;    
}

@media screen and (max-width: 1500px) {
    .product_list .product-item{
        padding: 10px 15px;
    }
}

@media screen and (max-width: 768px) {
   
    main{
        padding-top: 23vh;
    }
    .contenedor{
        display: flex;
        flex-wrap: wrap;
        gap: 2vw;
    }

    div.contenedor .category_item{
        font-size: 4vw;
        width: 24vw;
        text-align: center;
    }

    /* a.category_item[category="desktop"] {
        margin-right: 3vw;
    } */

    section.hero{
        display: flex;
        flex-direction: column;
        height: 50vh;
    }
    section.hero h1{
        font-size: 3vb;
        align-content: center;
        text-align: center;    
    }
    .img-contenedor{
        width: 100%;
        height: 100%;
    } 

    .img-contenedor img{
        height: 150%;
    }
    section.product_list{        
        display: block;
        flex-direction: column;
        margin: 5vw;
    }
    .product_list .product-item{
        width: 70vw;
        align-items: center;
        justify-content: center;
    }

    section.footer{
        justify-content: center;
    }

    .Contacto, .Suscribete{
        align-items: center;
    }

    header{
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .menu-vertical{
        width: 100px;
        font-size: x-small;
    }

    header{
        height: 20vh;
        max-height: 20vh;
    }
    
    header h1{
        font-size: 40px;    
    } 
    
    /* section.consulta{        
        height: 80vh;
        width: 75%;       
    } */
        
    /* textarea#mensaje{
        height: 40vh;        
    } */
}

