@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Poppins&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
:root{
    color: #CF7500;
}
/* HEADER */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    background-color: #1c2029;
    align-items: center;
    min-height: 10vh;
    padding-top: 0;
    padding-left: 10vw;
    padding-right: 10vw;
       
}

header h1{
    display: flex;
    height: 100%;
    font-size: 4vw;
    border: none;
}



div.contenedor{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 2vh;
}

div.contenedor .category_item{
    font-size: 1.8vw;
    padding: 1vh 1vw;
    background-color: #CF7500;
    text-decoration: none;
    color: #1c2029;
    border-radius: 0.8vb;
}
.contenedor .ct_item-active{
    background: #454545;
}

section.Buscador{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 3vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.Login{
    display: flex;
    margin-bottom: 2vh;
}

div.Buscador{
    display: flex;
    align-items: center;
}

.btn-login{
    color: #1c2029;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 5px;
    border: whitesmoke solid 0.5vb;
    box-shadow: 2vb;
    padding: 0.5vw;
}

.btn-register{
    color: #1c2029;
    background-color: #CF7500;
    border-radius: 10px;
    box-shadow: 2vb;
    padding: 0.5vw;
    border: #CF7500 solid 0.5vb;
}

input.Buscador{
    display: flex;
    width: 20vw;
    align-items: baseline;
    color: #1c2029;
    box-shadow: 2vb;
    border-radius: 10px;
    border: whitesmoke solid 1vb;
    background-color: whitesmoke;
    margin-left: 0.5vw;
    margin-right: 0.5vw;

}

/* MAIN */
main{
    background-color:#DDDDDD;
    padding-left: 10vw;
    padding-right: 10vw;
    min-height: 80%;
    padding-top: 15vh;
    padding-bottom: 3vh;

}

section.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
section.hero h1{
    color: #1c2029;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 110% ;
}

section.hero img{
    border-radius: 10px;
}

.img-contenedor{
    width: 60%;
    overflow: hidden;

}

.img-contenedor ul{
   display: flex;
   padding: 0;
   width: 400%;
   animation: slide 15s infinite alternate ease-in-out;
}
.img-contenedor li{
    width: 100%;
    list-style: none;
 }

.img-contenedor img{
    width: 100%;
}

.hero-info{
    font-size: 3vw;
}

.color-verde{
    color: rgb(120, 192, 12);
}
@keyframes slide{
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.wrap{
    max-width: 100%;
    width: 100%;
    margin: 0%;
}
.wrap h1{
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 0px;
}
.store{
    display: flex;
}

section.product_list{
    display: flex;
    justify-content: space-between;
}

.product_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.product_list .product-item{
    width: 16vw;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    transition: all .4s;
}
.product_list .product-item img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.product_list .product-item a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px 0;
    background-color: #CF7500;
    color:#1c2029;
    text-align: center;
    text-decoration: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



/* FOOTER */
footer{
    background-color: #1c2029;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    min-height: 20%;

}

div.redes{
    font-size: 3.5vb;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 2vh;
}

section.footer{
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.InformacionUtil, .Suscribete, .Contacto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2vh;
    padding-bottom: 3vh;
    padding: 2vw;
}

.InformacionUtil a{
    color: whitesmoke;
}

.Contacto p{
    color: whitesmoke;
}

.Suscribete p, label{
    color: whitesmoke;
}



a{
    color: #CF7500;
    text-decoration: none;

}
input{
    background-color: whitesmoke;
    color: black;
    border-radius: 6px;
    justify-content: center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.submit input {
    background-color: #CF7500;
    border-color: #CF7500;
}

::placeholder{
    color: #1c2029;
}

.derechos{
    display: flex;
    font-size: 2.6vh;
    min-height: 3vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 15vw;
    padding-right: 15vw;
    justify-content: center;
}

.derechos p{
    color: whitesmoke;
}
/* Main página atención al cliente */

form.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.consulta{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    width: 80%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border: 2px solid #1A1C20;
    padding-left: 3vw;
    padding-right: 3vw;
    border-radius: 10px;
}

section.consulta label{
    color: #1c2029;
}

.consulta h2{
    font-size:x-large;
    color: #1A1C20;
}
.formulario{
    padding-bottom: 3vh;
}
.submit{
    display: flex;
    height: 5vh;
    margin-top: 3vh;
}


textarea#mensaje{
    height: 50vh;
    width: 100%;
    padding: 1vw;
    background-color: aliceblue;
}


.preguntas{
    display: flex;
    flex-direction: column;
    border: 2px solid #1A1C20;
    padding: 3vw;
    border-radius: 10px;
    background-color: aliceblue;
}
.preguntas h2{
    font-size: x-large;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: #1A1C20;
}

.preguntas p{
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: #1A1C20;
}

.presentacion{
    display: flex;
    flex-direction: column;
    border: 2px solid #1A1C20;
    padding: 3vw;
    border-radius: 10px;
    background-color: aliceblue;
}
.presentacion h2{
    font-size: x-large;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: #1A1C20;
}

.presentacion p{
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: #1A1C20;
}


/* a{
    font-weight: 500;
    display: inline-block;
    color: #3d3c3c;
} */



.form-contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 450px;
    z-index: 10;
    background-color: aliceblue;
    border-radius: 10px;
}

.form-contenido .box{
    border-color: #1A1C20;
    border: 2px solid #1A1C20;
    border-radius: 10px;
    padding: 40px 50px;
}

.form-contenido h3{
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    color: #1A1C20;
    font-weight: 500;
}

.form-contenido .form{
    margin: 25px 20px;
}

.form-contenido .input-box{
    margin: 25px;
}

.form-contenido .input-control{
    display: flex;
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #1A1C20;
    color: #1A1C20;
    font-size: 16px;
}

.form-contenido .input-control:focus{
    outline: none;
}

.form-contenido .input-link{
    margin-top: 10px;
    text-align: center;
    
}

.form-contenido .btn{
    height: 45px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
    background-color: #1c2029;
    border: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: whitesmoke;
}

.form-contenido p{
    text-align: center;
    margin: 10px;    
}

@media screen and (max-width: 1500px) {
    .product_list .product-item{
        padding: 10px 15px;
    }
}

@media screen and (max-width: 768px) {
    /* header{
        min-height: 10vh;
        
    } */
    /* .contenedor> li{
        float: inline-start;
        width: 100%;        
    }
    .contenedor li ul{
        position: fixed;
        max-width: 50 vh;
    } */

    section.hero{
        width: auto;
    }
    section.hero h1{
        font-size: 100%;    
    }
    section.hero img{
        width: 100%;    
    } 
    .product_list{        
        display: block;
        flex-direction: column;
    }
    .product_list .product-item{
        width: 70vw;
        align-items: center;
    }
}
